-----BEGIN CERTIFICATE-----
MIIFtzCCA5+gAwIBAgIUGx8kdHFppL5GSOixrJTpFhhvqq8wDQYJKoZIhvcNAQEL
BQAwazELMAkGA1UEBhMCQVUxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNVBAoM
GEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZDEkMCIGA1UEAwwbdGVzdGJhY2tlbmQu
Z3JlYXRsaWJyYXJ5LmlvMB4XDTIyMDcyNTIyMzcyOFoXDTIzMDcyNTIyMzcyOFow
azELMAkGA1UEBhMCQVUxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNVBAoMGElu
dGVybmV0IFdpZGdpdHMgUHR5IEx0ZDEkMCIGA1UEAwwbdGVzdGJhY2tlbmQuZ3Jl
YXRsaWJyYXJ5LmlvMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEA6448
KwHu+lCmbrKRF6dj41D1BJc3mmI9i/aR+LvvS+0+TnMNWhRKQTLkHSwi78oHhCpr
ukTqZJ+AfXuoe+MaUhOmsWgWdgAcXSYW8qZsF0bN6QqLM8k+skhVbSjPyqs35Zlp
Kb5O6fXxT/xPpYXLtwVkv1gihg5DuBMDd/GikxfTmF5g1ZvFAVRVCsvixWdkJIyA
Fx2T6bpuwjFwVkqwXlkJVHvF4/bj5Xe5kPxEgmbyV88IO3Ao1y9MRccStDDEfCzH
joIbo+q5w4dP8pVDj0s15d+w/m4GVZ+nJgiazp1afgEIUKMXCwYgzoX6pTOc4xU2
CxMq+Z/WBg/ergxt6n1jhpaoyODCEzpnbi+h17NpzYwIiEi4aNZwLzi9ky/0/yMA
hrbQbA8+dJfHNPuoiixgAqSJozb9fhkBTzax2Y0nBWo4jwkRYhDKK88YF3PnRhuJ
SfqmQggoEVfk5uchmOss9XYu7FDjKQi6NjoZt+4CxE6to80NXsZKHSI/58HTUAei
bgZdSj+59oyt5BQVM8+slR906fN97Ara0sRvfmDWNq1epO+6jVGVJCnX02/f9WV7
jZnKqSC8Q9kreNwkJvq62a/iPzOA4WPmhmUhcKp48DyAzF2GVaERfiPpxq82Ywnk
ynICwTwkV2CUuCg1kCKSx8E2wQU/L9pK1gArm/ECAwEAAaNTMFEwHQYDVR0OBBYE
FPV/pUaIuHvPE0eV3j4apx1Cg+lUMB8GA1UdIwQYMBaAFPV/pUaIuHvPE0eV3j4a
px1Cg+lUMA8GA1UdEwEB/wQFMAMBAf8wDQYJKoZIhvcNAQELBQADggIBAJeWtC9q
zCB2r9tACgjqKMWF57Gh3ewr6+YQVlHklRkwW9zc0n7MJD7v5VhF+i0LSHsoexPz
730FYnhod2rU10jKGanAV4VyeHXzVoYbl67MRTBJFYnLiSgJwiyjIM5qklp8UrBl
dp5KSCKCaHc8sE24IlaMsvIq8L8JPTNGaGZmGbAG8pG1bpLuefaHKoLU6pQl2OV/
jXpNmG4VeH5agIzyo9KgzYE/uTBoc/LYCp/+uUWHbrlbvlM3aYGca9rZ+pb+pf0S
BvRrL76q/nR4mXT1+ZGisjRDPqKNHGl2k/TgiQeFEQnrcQbrqXlJj4Tv01E1TQza
hzDtaFz0Wv41Z/5wKXWnOJEK1pQcNYmZShe737lQuwgak/JprRD8tzMUmQ+WYgqL
FcCEhATiiXGJHrP2ItcZJQxsbxAkYiNpcadi+rZCUROelEIMWltlXCGqrN/Cqqrw
98LU/H/mAp6gIPBvzKOeLGXMcgCklr3r42NmCchB9wKMiD8q21byvxskorap7NVf
DBrK3bwygZKkWbT94O/lltq/FQMWZvDzvtIDOARvtC6R10Pfjqhyiypa6I4hdrsP
6TP9NXOI++jaBeeSacfTV9IKBHwh1XJZ/HaM7okQuBI9vmyio98XTcSkZJiWtx1G
8PAYyZypY7NiTL5tjVFxle4jqhmmVIXwDvUi
-----END CERTIFICATE-----
